p {
  font-size: 40px;
  font-weight: 700;
  font-family: "Arial", sans-serif;
  color: #8e2b2b;
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  /* text-shadow: 0 10px 1px #8e2b2b; */
  line-height: 1.2;
  letter-spacing: 3px;
}
